@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  --store-color: linear-gradient(316.98deg, #52d67a 16.88%, #5aee87 84.04%);
  margin: 0;
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fredoka', sans-serif;
}
